* {
  box-sizing: border-box;
}
.container {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  border: 1px solid black;
  font-size: small;
  z-index: 10;
}

.personal {
  width: 100%;
  height: 13%;
  background-color: red;
}

.photo {
  width: 25%;
  ;
  float: left;
}

.photo img {
  margin: 6px 15px;
  width: 85%;
  height: auto;
}

.about-me {
  width: 70%;
  float: left;
}

.about-me p {
  margin: 0;
}

.contact-info {
  width: 100%;
  background-color: blue;
  height: 4%;
}

.contact-info div {
  padding-top: 4px;
  padding-bottom: 1px;
  padding-left: 15%;
  display: inline-block;
  width: 50%;
  text-align: left;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.experience {
  padding: 10px;
  width: 100%;
  float: left;
  height: 79%;
  background-color: lime;
}

.experience h2 {
  margin: 5px 0;
}

.experience p {
  margin: 0
}

.education p {
  margin: 0
}

.projects p {
  margin: 0;
}

.education {
  padding: 10px;
  width: 100%;
  float: left;
  height: 44%;
  background-color: blueviolet;
}

.position {
  margin: 15px auto;
}

.position-date {
  width: 30%;
  float: left;
}

.position-location {
  width: 70%;
  float: right;
  text-align: right
}

ul {
  margin: 7px auto;
  padding-left: 20px;
  list-style-type: '- ';
}

.languages {
  padding: 10px;
  width: 100%;
  float: left;
  height: 21%;
  background-color: green;
}

.languages p {
  margin: 6% auto;
}

.projects {
  padding: 10px;
  width: 100%;
  float: left;
  height: 56%;
  background-color: pink;
}

.section {
  display: inline-block;
  background-color: lightgrey;
  width: 50%;
  height: 83%
}

.project-item-list {
  margin: 0;
}
