<div class="container">
  <div class="personal">
    <div class="photo">
      <img src="../../assets/yo.png" alt="">
    </div>
    <div class="about-me">
      <h1>Juan Marcelo Martin</h1>
      <p>
        I became passionate about technology recently and finished a Coding Bootcamp in December of 2019, where I became
        a
        Full Stack Developer.
        I think I have a very good grasp of Javascript and during this last year I've been working with Angular 9 and
        React and I feel comfortable with both, but if I had to point out a strength of mine it would be my work ethics.
        I'm very commited to anything I do and the idea of learning constantly is very exciting to me.
        I'm looking for a frontend developer positon where I can use either Angular or React, a Node Js backend position
        or a full-stack position with a combination of those technologies.
        I'm also more than happy to try and learn new technologies.
      </p>
    </div>
  </div>
  <div class="contact-info">
    <div>contactomarcelomartin@gmail.com</div>
    <div>+5491123031757</div>
    <div>linkedin.com/in/juanmarcelomartin/</div>
    <div>github.com/juanMarceloMartin</div>
  </div>
  <div class="experience">
    <h2>Work Experience</h2>
    <div class="position">
      <h3>Software Engineer Jr</h3>
      <p>Cognizant Softvision</p>
      <p>02/2020 - ongoing</p>
      <p>As a Front-End Developer I am part of an internal project, developing an app for the HR department which is
        planned to be utilized for all of the company’s studios around the world.</p>
      <div>
        <ul>Key Tools
          <li>Angular</li>
          <li>NgRx</li>
          <li>Javascript</li>
          <li>Typescript</li>
          <li>Azure</li>
          <li>Best practices (Kanban)</li>
        </ul>
      </div>
    </div>
    <div class="position">
      <h3>Programming Trainee</h3>
      <p>HFA Collection Agency</p>
      <p>12/2018 - 09/2019</p>
      <p>Providing assistance in basic programming tasks using PHP and SQL, while learning about said technologies.</p>
    </div>
    <div class="position">
      <h3>Logistics Analyst / Coordinator</h3>
      <p>Ford Argentina / Volkswagen Argentina / Delphi Famar / Egr Automotive Australia</p>
      <p>02/2007 - 11/2018</p>
      <p>During this period I performed tasks related to international logistics, being an analyst and a Coordinator in
        both imports and exports operations. Tasks were related to forecasting and priority setting for material release
        from customs and material allocation in warehouse.
        <br>
        I also had the experience of working as an Account Manager in Australia, where my task was to find sales leads
        in
        South America for a potential commercial partnership.
      </p>
    </div>
    <div class="position">
      <h3>Sales Operator</h3>
      <p>Teleperformance Argentina</p>
      <p>01/2005 - 12/2005</p>
      <p>Taking calls from the USA and closing computer accessories sales.
      </p>
    </div>
  </div>
  <div class="education">

  </div>


</div>
