<div class="container">
  <div class="personal">
    <div class="photo">
      <img src="../../assets/yo.png" alt="">
    </div>
    <div class="about-me">
      <h1>Juan Marcelo Martin</h1>
      <p>
        I became passionate about technology recently and finished a Coding Bootcamp in December of 2019, where I became
        a
        Full Stack Developer.
        <br>
        This last year I've been working with Angular 9 and
        React and I feel comfortable with both.
        <br>
        I'm very commited to anything I do and the idea of learning constantly is very exciting to me.
        <br>
        I'm looking for a frontend developer position where I can use either Angular or React, a Node Js backend position
        or a full-stack position with a combination of those technologies.
        I'm also more than happy to try and learn new technologies.
      </p>
    </div>
  </div>
  <div class="contact-info">
    <div>contactomarcelomartin@gmail.com</div>
    <div>+5491123031757</div>
    <div>linkedin.com/in/juanmarcelomartin/</div>
    <div>github.com/juanMarceloMartin</div>
  </div>
  <div class="section">
    <div class="experience">
      <h2>Work Experience</h2>
      <div class="position">
        <h3>Software Engineer Jr</h3>
        <p>Cognizant Softvision</p>
        <p><span class="position-date">02/2020 - ongoing</span><span class="position-location">Buenos Aires, Argentina</span></p>
        <p>Tasks:</p>
        <p>As a Front-End Developer I am part of an internal project, developing an app for the HR department which is
          planned to be utilized for all of the company’s studios around the world.</p>
        <div>
          <ul>Key Tools:
            <li>Angular</li>
            <li>NgRx</li>
            <li>Javascript</li>
            <li>Typescript</li>
            <li>Azure</li>
            <li>Best practices (Kanban)</li>
          </ul>
        </div>
      </div>
      <div class="position">
        <h3>Programming Trainee</h3>
        <p>HFA Collection Agency</p>
        <p><span class="position-date">12/2018 - 09/2019</span><span class="position-location">Buenos Aires, Argentina</span></p>
        <p>Tasks:</p>
        <p>Providing assistance in Front End tasks.</p>
        <div>
          <ul>Key Tools:
            <li>PHP</li>
            <li>Bootstrap</li>
            <li>SQL</li>
          </ul>
        </div>
      </div>
      <div class="position">
        <h3>Logistics Analyst / Coordinator</h3>
        <p>Ford Argentina / Volkswagen Argentina / Delphi Famar / Egr Automotive Australia</p>
        <p><span class="position-date">02/2007 - 11/2018</span><span class="position-location">Buenos Aires, Argentina / Brisbane, Australia</span></p>
        <p>Tasks:</p>
        <p>During this period I performed tasks related to international logistics, being an analyst and a Coordinator in
          both imports and exports operations. Tasks were related to forecasting and priority setting for material release
          from customs and material allocation in warehouse.
          <br>
          I also had the experience of working as an Account Manager in Australia in 2013, where my task was to find sales leads
          in
          South America for a potential commercial partnership.
        </p>
      </div>
      <div class="position">
        <h3>Sales Operator</h3>
        <p>Teleperformance Argentina</p>
        <p><span class="position-date">01/2005 - 12/2005</span><span class="position-location">Buenos Aires, Argentina</span> </p>
        <p>Tasks:</p>
        <p class="position-description">Taking calls from the USA and closing computer accessories sales.
        </p>
      </div>
    </div>
    <div class="languages">
      <h2>Languages</h2>
      <p>Spanish - Native</p>
      <p>English - Bilingual</p>
      <p>French - Conversational</p>
      <p>German - Conversational</p>
    </div>
  </div>
  <div class="section">
    <div class="education">
      <h2>Education</h2>
      <div class="position">
        <h3>Coding Bootcamp</h3>
        <p>Plataforma 5</p>
        <p>09/2019 - 12/2019</p>
        <p>Full Stack Javascript 3 months immersive Bootcamp, between 10 to 12 hours per day (600+ total hours).
          Six weeks learning different technologies and another six weeks working on professional projects with real clients.</p>
        <ul>Curriculum:
            <li>Advanced Javascript</li>
            <li>React</li>
            <li>Redux</li>
            <li>NodeJS</li>
            <li>Express</li>
            <li>Sequelize</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>Mongoose</li>
            <li>SCRUM (Agile Methodology)</li>
            <li>Git (Collaborative Development)</li>
        </ul>
      </div>
        <div class="position">
          <h3>International Business Graduate</h3>
          <p>Universidad Nacional de La Matanza</p>
          <p>03/2003 - 11/2011</p>
        </div>
    </div>
    <div class="projects">
      <h2>Personal Projects</h2>
      <div class="position">
        <p>"La Ticketera": Inquires Platform</p>
        <p>11/2019 - 12/2019</p>
        <ul class="project-item-list">
          <li>Inquiries platform for Coding Bootcamp students ("Stack Overflow" like).</li>
          <li>Technologies used: React-Redux, Hooks, Express, Passport, Sequelize, Axios, Socket.io and Docker.</li>
          <li>Github Link: <a href="https://github.com/juanMarceloMartin/ticketera">github.com/juanMarceloMartin/ticketera</a> </li>
        </ul>
      </div>
      <div class="position">
        <p>Danone Form</p>
        <p>09/2020 - ongoing</p>
        <ul class="project-item-list">
          <li>This project will be a microsite where Danone will redirect its users for them to have a platform to register themselves.</li>
          <li>Form that includes picture storage, email, phone number, id and field completion validations.
          <li>Application makes use of Google API for address suggestions.</li>
          <li>Aplication creates a daily report of registered users, exports it to an Excel file and sends it via e-mail.</li>
          <li>Application is functional and we are yet to receive final instructions from client to go live.</li>
          <li>Technologies used: React, Node, Express, AWS, excel4node.</li>
          <li>Github Link: <a href="https://github.com/juanMarceloMartin/danone-registration-form">github.com/juanMarceloMartin/danone-registration-form</a> / <a href="https://github.com/juanMarceloMartin/danone-registration-form-api">github.com/juanMarceloMartin/danone-registration-form-api</a> </li>
        </ul>
      </div>
      <div class="position">
        <p>CV Builder</p>
        <p>11/2020 - ongoing</p>
        <ul class="project-item-list">
          <li>Application by which this CV was designed and created.</li>
          <li>At the moment it's only an HTML with hardcoded information. It will be turned into a dynamic application for building CVs</li>
          <li>Technologies used: Angular, plain CSS, html2pdf.</li>
          <li>Github Link: <a href="https://github.com/juanMarceloMartin/cvBuilder">github.com/juanMarceloMartin/cvBuilder</a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>
