<div id="cv" #cv>
  <div class="container">
    <div class="personal">
      <div class="photo">
        <img src="../../assets/yo1.png" alt="">
      </div>
      <div class="about-me">
        <h1>Juan Marcelo Martin</h1>
        <h4>Full Stack Developer</h4>
        <p>
          I'm a Javascript Developer, proficient in both Angular and React. Also I have experience working with Node Js.
          <br>
          I'm very commited to anything I do and the idea of learning constantly is very exciting to me.
          <br>
          I'm looking for a position in which I can apply the skills I have adquired for the last two years and also extend my knowledge of the previous mentioned technologies, and of new technologies as well.
        </p>
      </div>
    </div>
    <div class="contact-info">
      <div><i class="fa fa-envelope" aria-hidden="true"></i> contactomarcelomartin@gmail.com</div>
      <div><i class="fa fa-mobile" aria-hidden="true"></i> +5491123031757</div>
      <div> <a target="_blank" href="https://www.linkedin.com/in/juanmarcelomartin/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/juanmarcelomartin/</a> </div>
      <div> <a target="_blank" href="https://github.com/juanMarceloMartin"><i class="fa fa-github"></i> github.com/juanMarceloMartin</a>  </div>
    </div>
    <div class="section">
      <div class="experience">
        <h2 class="title" style="margin: 0 auto;">Work Experience</h2>
        <div class="position">
          <h3>Front End Developer</h3>
          <p>Cognizant Softvision</p>
          <p class="subtitle"><span class="position-date">02/2020 - ongoing</span><span class="position-location">Buenos Aires, Argentina</span></p>
          <p class="subtitle">Tasks:</p>
          <div>
            <ul>
              <li>Feature implementation / improvement</li>
              <li>New design implementation</li>
              <li>Bug fixing</li>
              <li>Improve application performance by implementing lazy loading and state management</li>
              <li>Perform code reviews for teammates</li>
            </ul>
          </div>
          <p class="subtitle">Key Tools:</p>
          <div>
            <ul>
              <li>Angular</li>
              <li>NgRx</li>
              <li>React</li>
              <li>Javascript</li>
              <li>Typescript</li>
              <li>Ng Zorro</li>
              <li>Ant Design</li>
            </ul>
          </div>
        </div>
        <div class="position">
          <h3>Front End Trainee</h3>
          <p>HFA Collection Agency</p>
          <p class="subtitle"><span class="position-date">12/2018 - 09/2019</span><span class="position-location">Buenos Aires, Argentina</span></p>
          <p class="subtitle">Tasks:</p>
          <div>
            <ul>
              <li>Feature implementation / improvement</li>
              <li>New design implementation</li>
              <li>Bug fixing</li>
            </ul>
          </div>
          <p class="subtitle">Key Tools:</p>
          <div>
            <ul>Key Tools:
              <li>PHP</li>
              <li>Bootstrap</li>
              <li>JQuery</li>
            </ul>
          </div>
        </div>
        <div class="position">
          <h3>Course Instructor - Introduction to Programming</h3>
          <p>Plataforma 5</p>
          <p class="subtitle"><span class="position-date">01/2020 - 09/2020</span><span class="position-location">Buenos Aires, Argentina</span></p>
          <p class="subtitle">Curriculum:</p>
          <div>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>Bootstrap</li>
              <li>Javascript</li>
              <li>DOM Manipulation</li>
              <li>JQuery</li>
              <li>API's</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="skills">
        <h2 class="title">Skills</h2>
        <ul>
          <li>Javascript</li>
          <li>CSS</li>
          <li>React Redux</li>
          <li>Angular 9</li>
          <li>Typescript</li>
          <li>Node Js</li>
          <li>Express</li>
          <li>PostgreSQL</li>
          <li>Pair Programming</li>

        </ul>
      </div>
    </div>
    <div class="section">
      <div class="projects">
        <h2 class="title">Personal Projects</h2>
        <div class="position">
          <p>"La Ticketera": Inquires Platform</p>
          <p class="subtitle">11/2019 - 12/2019</p>
          <ul class="project-item-list">
            <li>Inquiries platform for Coding Bootcamp students ("Stack Overflow" like).</li>
            <li>Technologies used: React-Redux, Hooks, Express, Passport, Sequelize, Axios, Socket.io and Docker.</li>
            <li>Github Link: <a href="https://github.com/juanMarceloMartin/ticketera">github.com/juanMarceloMartin/ticketera</a> </li>
          </ul>
        </div>
        <div class="position">
          <p>Danone Form</p>
          <p class="subtitle">09/2020 - ongoing</p>
          <ul class="project-item-list">
            <li>This project will be a microsite where Danone will redirect its users for them to have a platform to register themselves.</li>
            <li>Form that includes picture storage, email, phone number, id and field completion validations.
            <li>Application makes use of Google API for address suggestions.</li>
            <li>Aplication creates a daily report of registered users, exports it to an Excel file and sends it via e-mail.</li>
            <li>Application is functional and we are yet to receive final instructions from client to go live.</li>
            <li>Technologies used: React, Node, Express, AWS, excel4node.</li>
            <li>Github Link: <a href="https://github.com/juanMarceloMartin/Formulario-Danone">github.com/juanMarceloMartin/Formulario-Danone</a></li>
          </ul>
        </div>
        <div class="position">
          <p>CV Builder</p>
          <p class="subtitle">11/2020 - ongoing</p>
          <ul class="project-item-list">
            <li>Application by which this CV was designed and created.</li>
            <li>At the moment it's only an HTML with hardcoded information. It will be turned into a dynamic application for building CVs</li>
            <li>Technologies used: Angular, plain CSS, html2pdf.</li>
            <li>Github Link: <a href="https://github.com/juanMarceloMartin/cvBuilder">github.com/juanMarceloMartin/cvBuilder</a> </li>
          </ul>
        </div>
      </div>
      <div class="education">
        <h2 class="title">Education</h2>
        <div class="position">
          <h3>Coding Bootcamp</h3>
          <p>Plataforma 5</p>
          <p class="subtitle">09/2019 - 12/2019</p>
          <p>Full Stack Javascript 3 months immersive Bootcamp, between 10 to 12 hours per day (600+ total hours).
            Six weeks learning technologies such as Node, Express, SQL(Postgres), MongoDB(Mongoose), React, Redux, Webpack, Babel, Git (Collaborative Development).
            Six weeks working on professional projects with real clients.</p>
        </div>
      </div>
      <div class="languages">
        <h2 class="title">Languages</h2>
        
          <p>Spanish - Native</p>
          <p>English - Bilingual</p>
          <p>French - Conversational</p>
          <p>German - Conversational</p>  
     
      </div>
      <div class="references">
        <h2 class="title">References</h2>
        <div class="reference">
          <h4>Dario Renzulli - Community Manager</h4>
          <div> <a target="_blank" href="https://www.linkedin.com/in/dariorenzulli/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/dariorenzulli/</a> </div>
        </div> 
        <div class="reference" >
          <h4>Ivan Zerzer - Technical Leader</h4>
          <div> <a target="_blank" href="https://www.linkedin.com/in/ivanzerzer/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> linkedin.com/in/ivanzerzer/</a> </div>
        </div>


        
      </div>
    </div>
  </div>
</div>
