@font-face {
    font-family: Roboto;
    src: url(/assets/font/Roboto-Regular.ttf) format("opentype");
  }

  * {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}